header {
    background-color: rgb(54, 90, 251);
}

nav {
    display: flex;
    justify-content: center;
}

ul.navBar {
    display: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.navBar li {
    color: white;
}