<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shifts Schedule</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <main>
      <p>Welcome to the shifts schedule page.</p>
      <form method="POST" action="{{url_for('schedule.add_shift')}}">
        {{ form.csrf_token }} {{ form.start_time.label }} {{
        form.start_time(size=20) }} {{ form.end_time.label }} {{
        form.end_time(size=20) }}

        <input type="submit" value="Go" />
      </form>
    </main>
    <footer>
      <p>&copy; 2023 NordManager</p>
    </footer>
  </body>
</html>
